*,
::after,
::before {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 100%;
}
body {
  font-family: "Hahmlet", serif;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.link-text {
  color: black;
}
