.searchbar-container {
  padding-top: 30px;
  margin: 0 auto;
  margin-bottom: 35px;
  width: 90%;
  text-align: center;
}

input,
.search-btn {
  padding: 10px 18px;
  margin-left: 20px;
  border-radius: 8px;
  border: none;
}
input {
  width: 70%;
  border: 1px solid grey;
}
input::placeholder {
  font-style: italic;
}
.search-btn {
  background-color: #cbc2db;
  vertical-align: middle;
}
.search-icon {
  margin-left: 10px;
  font-size: 18px;
  vertical-align: middle;
}
